* {
    margin: 0px;
    padding: 0px;
    background-color: #e2e2e4;
    font-family: 'IBM Plex Sans', sans-serif;
  }
  
.container {
  height: auto;
  display: flex;
    
.row {
  width: 75%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  
.blog {
  background-color: white;
  width: 100%;
  border-radius: 5px;
  height: 25vh;
  display: flex;
  margin-top: 24px;

.img{
  margin: 15px;
  width: 35%;
  cursor: pointer;
  clip-path: polygon(100% 0, 100% 82%, 82% 100%, 0 100%, 0 0);

img {
  width: 100%;
  height: 100%;
  }
}

.content{
  margin: 15px;
  background-color: white;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

.title {
h3, p {
  background-color: white;
  cursor: pointer;
}

p {
  background-color: white;
  padding-top: 10px;
  color: #626262;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

h3 {
  color: #292929;
}
            
h3:hover {
  color: red;
}
}
          
.footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
            
span {
  background-color: white;
}

.leftfooter, .rightfooter {
  background-color: white;
}

.rightfooter {
  display: flex;
  align-items: center;
              
img {
  background-color: white;
  margin-left: 20px;
 }
}
}}}}
    
.rightrow {
  width: 25%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

.highlight {
  margin-top: 24px;
  height: 60vh;
  width: 90%;
}
}}
  
@media screen and (max-width: 700px) {

.main {
  flex-direction: column;

  .row {
    width: auto;
  
  .blog {
    height: auto;
    flex-direction: column;
    align-items: center;
          
  .img{
    width: 90%;
    height: auto;
  }
          
  .content {
    height: auto;
    width: 90%;
            
  .footer {
    padding-top: 10px;
  }
}}}

.rightrow {
  width: auto;
}
}}
  
.img:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: transform .2s;
}